<br>
<div class="home-page-container">
<div class="row">

    <div class="col">
        <img id="responsive-image" src="images/IMG_6696.jpg" alt="">
      </div>
      <div class="col">
        <h2>Let's stay in touch!</h2>
        <p>Drop your contact information below if you're interested in working together:</p>

        <form action="/subscribe" method="post">
          <input type="text" name="name" placeholder="Name" style="width:100%"> <br>
          <br>
          <input type="text" name="email" placeholder="Email" style="width:100%"> <br>
          <br>
          <input type="submit" name="submit">
        </form>
        
        
      </div>

  </div>
</div>