<br>
<div class="home-page-container">
<div class="row">

    <div class="col">
        <div class='responsive-video'>
            <iframe src='https://www.youtube.com/embed/kPRfXgwokTk' frameborder='0' allowfullscreen></iframe>
        </div>
        <br>
        <h2>Sales and Marketing Insights</h2>
        <p>A series that shares the latest trends and industry practices that are in the news. Each video 
            recieved hundreds of views and several shares. 
        </p>
        <p>To watch more videos in the Sales and Marketing Insights series, visit this 
            <a href="https://www.youtube.com/playlist?list=PLFzfmCHoMuatLM64Yk4513NZauYAStKtk" target="_blank">playlist</a> 
            on the <a href="https://www.youtube.com/user/oneims" target="_blank">OneIMS YouTube channel</a>.
        </p>
    </div>
    <div class="col">
        <div class='responsive-video'>
            <iframe src='https://www.youtube.com/embed/JRVx2jhsxWM' frameborder='0' allowfullscreen></iframe>
        </div>
        <br>
        <h2>Digital Marketing FAQ's</h2>
        <p>Several curated videos that explain the answers to common marketing questions with illustrations made
            possible through a Google Jamboard.
        </p>
        <p>To watch more videos in the Digital Marketing FAQ's series, visit this 
            <a href="https://www.youtube.com/playlist?list=PLFzfmCHoMuash71bn2hsJG-tcQqYh-uGe" target="_blank">playlist</a> 
            on the <a href="https://www.youtube.com/user/oneims" target="_blank">OneIMS YouTube channel</a>.
        </p>
    </div>
    <div class="col">
        <div class='responsive-video'>
            <iframe src='https://www.youtube.com/embed/84ob2r0zuyU' frameborder='0' allowfullscreen></iframe>
        </div>
        <br>
        <h2>Marketing Hack of the Day</h2>
        <p>A daily video explaining a marketing tactic, trick, or tool that can help business owners ramp 
            up their marketing efforts.
        </p>
        <p>To watch more videos in the Marketing Hack of the Day series, visit this 
            <a href="https://www.youtube.com/playlist?list=PLORH4jAZQ6Qgd-_XTyxw8gMmOLA_-IQ4z" target="_blank">playlist</a> 
            on the <a href="https://www.youtube.com/channel/UChUw-CvnPnC6ZuMX7-a2EAQ" target="_blank">Clickx YouTube channel</a>.
        </p>
    </div>
</div>
</div>