<script>
		$(document).ready(function(){
			$("#slideshow > div:gt(0)").hide();
			
			setInterval(function() { 
				$('#slideshow > div:first')
					.fadeOut(1000)
					.next()
					.fadeIn(1000)
					.end()
					.appendTo('#slideshow');
            },  3000);
        });
</script>

<div class="home-page-container">
<div class="row">
    <div class="col">
        
        <div id="comslider_in_point_1974966"></div><script type="text/javascript">var oCOMScript1974966=document.createElement('script');oCOMScript1974966.src="https://commondatastorage.googleapis.com/comslider/target/users/1575516575x2b49161403c731ee06c77756b7297a69/comslider.js?timestamp=1575517075&ct="+Date.now();oCOMScript1974966.type='text/javascript';document.getElementsByTagName("head").item(0).appendChild(oCOMScript1974966);</script>

    </div>
    <div class="col">
        <br>
        <br>
        <h2>Hi there!</h2>
        <p>Nice to meet you! My name is Isaiah Easo, and I am an Information
            Systems and Computer Science student at DePaul University. In my spare time
            I work at a marketing agency as an IT professional and corporate videographer.
        </p>
        <p>This website is a portfolio of all the different types of videos that I have had
            the privilege of creating– from vlogs for influencers to client testimonials for companies.
        </p>
        <p>Feel free to explore my work, and if you're interested in working together, feel free to <a href="/contact">contact me</a></p>
    </div>
</div>
</div>