<br>
<br>
<div class="home-page-container">
<div class="row">
        <div class="col">
                <div class='responsive-video'>
                        <iframe src='https://www.youtube.com/embed/L5ExC88ctW0' frameborder='0' allowfullscreen></iframe>
                </div>
        </div>
        <div class="col">
                <h2>Coffee with Closers</h2>
                <p>Coffee with Closers is an interview style series produced for a marketing agency in downtown Chicago. 
                    In this series, the Vice President of Sales for the organization speaks with industry practioners and 
                    leaders to learn their story and tactics.
                </p>
                <p>For a typical shoot like this, there are three cameras, two lavalier microphone, and overhead lights.
                        Conversations last for for roughly 20-30 minutes, and a turnaround time for the final video is 
                        about 2 weeks. 
                </p>
                <p>To watch the entire Coffee with Closers series, visit this <a href="https://www.youtube.com/playlist?list=PLFzfmCHoMuaubCIphVVk4zfjL7UffIWjV" target="_blank">
                        playlist</a> on the <a href="https://www.youtube.com/user/oneims" target="_blank">OneIMS YouTube channel</a>.
                </p>
        </div>
        
</div>
<hr>
<div class="row">
        <div class="col">
                <div class='responsive-video'>
                        <iframe src='https://www.youtube.com/embed/tNpalQ07GUk' frameborder='0' allowfullscreen></iframe>
                </div>       
        </div>
        <div class="col">
                <h2>Inbound 2019</h2>
                <p>Inbound is one of the largest sales and marketing conferences in the world (hosted by HubSpot, 
                    a billion dollar marketing software and industry leader in the space), with tens of thousands of professionals
                    gather together from around the globe to network, learn, and celebrate marketing. In 2019, Solomon Thimothy 
                    (CEO of OneIMS) was invited to walk the show floor and interview remarkable guests and companies at the event.
                </p>
                <p>The videos that were shot for the Inbound conference were much more "run and gun," consisting of only one camera and
                        a shotgun microphone. There is very little prep and interviews are done spontaneously– typically through a 5 minute
                        or less conversation. Shoots like these have very quick turnaround times, with the ability to go live and published
                        within 24 hours.
                </p>
                <p>To watch the interviews of Inbound 2019, visit this <a href="https://www.youtube.com/playlist?list=PLFzfmCHoMuauj1KVmZegGJtsfqH2xY0vs" target="_blank">
                        playlist</a> on the <a href="https://www.youtube.com/user/oneims" target="_blank">OneIMS YouTube channel</a>.
                </p>
        </div>     
</div>
<hr>
<div class="row">
        <div class="col">
                <div class='responsive-video'>
                        <iframe src='https://www.youtube.com/embed/-2MHotDfbAo' frameborder='0' allowfullscreen></iframe>
                </div>
        </div>
        <div class="col">
                <h2>Novus Navigator</h2>
                <p>Novus Navigator is an interview series produced by Novus Club, a non-profit that promotes technology 
                    & entrepreneurship skills to high school students. In this series, the founders of the organization 
                    speak to entrepreneurs and business leaders to allow students to hear the different backgrounds and 
                    success stories.
                </p>
                <p>These shoots are still done professionally, but are much more casually shot. A typical Novus Navigator
                        consists of two cameras and either a shotgun microphone or a single lavalier microphone. Natural or available
                        lighting is used as well. These conversations can last anywhere from 20-30 minutes, but have a turn around time of
                        less than 1 weeks since there is less footage to work with.
                </p>
                <p>To watch Novus Navigator interviews, visit this <a href="https://www.youtube.com/playlist?list=PLLrCzY3XRuQvXVIrTbazt79uuAm20ymNI" target="_blank">
                        playlist</a> on the <a href="https://www.youtube.com/channel/UC5jmFdN9d7ezk1Or06lwxnQ" target="_blank">Novus Club YouTube channel</a>. </p>
        </div>     
</div>
</div>