<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1">
	<title>Videography by Isaiah Easo</title>
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="https://cdn.plyr.io/3.5.6/plyr.css" />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	
</head>

<body>
	
	<div id="nav">
		<div class="col-sm nav-align text-center">
			<h1 id="title">Videography by Isaiah Easo</h1>
		</div>
		<div class="col-sm nav-align text-center">
			<a href="/">
				<span class="button">Home</span>
			</a>
			|
			<a href="/interviews">
				<span class="button">Interviews</span>
			</a>
			|
            <a href="/vlogs">
				<span class="button">Vlogs</span>
			</a>
			|
            <a href="/client-testimonials">
				<span class="button">Client Testimonials</span>
			</a>
			|
            <a href="/educational-content">
				<span class="button">Educational Content</span>
			</a>
			|
			<a href="/contact">
				<span class="button">Contact Me</span>
			</a>
		</div>
	</div>

	<%- body %>

</body>

</html>
