<br>
<div class="home-page-container">
<div class="row">

    <div class="col">
        <img id="responsive-image" src="images/IMG_6696.jpg" alt="">
    </div>
    <div class="col">
            <h2>Thank you for submitting!</h2>
            <p> Go to
                <a href="/">home!</a>
            </p>
        
        
    </div>

</div>
</div>