<br>
<div class="home-page-container">
<div class="row">
    <div class="col">
        <div class='responsive-video'>
            <iframe src='https://www.youtube.com/embed/LGeaf0t_JME' frameborder='0' allowfullscreen></iframe>
        </div>
        
    </div>
    <div class="col">
        <h2>Startup Hustle</h2>
        <p>In 2017, the CEO of OneIMS (a digital marketing agency) was motivated to start a Chicago based vlog series.
            He had requested that I be his videographer and spearhead the entire production of the vlog series– 
            from shooting, to editing, to producing, and to publishing. This was in incredible learning experience
            and a great way to sharpen my creativity to be able to tell a story through each and every vlog.
        </p>
        <p>In order to make Startup Hustle, I had followed the CEO around on a day-to-day basis– from meetings, to
            speaking engagements, and so forth– capturing practically every moment on camera. Hours and hours of footage,
            audio, and b-roll were recorded each and every week.
        </p>
        <p>Vlogs were published once a week and each vlog took days to craft and create in order to tell a visual story.
            In every vlog, there are either business, marketing, or life advice from the CEO. To watch the entire vlog
            series, visit this <a href="https://www.youtube.com/playlist?list=PLr4stHjJbKAJGebbuAaCuJBRDYL1EjVKr" target="_blank">
                playlist</a> on <a href="https://www.youtube.com/channel/UCtUlfC7SJV-GG3IbA8_PE5Q" target="_blank">
                    Solomon Thimothy's channel</a>.
        </p>
    </div>
</div>
</div>